body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f5;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  height: 175px;
}

.App {
  width: 90%;
  margin: auto;
}

.discount {
  height: 30px;
}

.product-information {
  margin-left: 10px;
}

.product-information div {
  padding: 2px 0px;
}

.product-information .category {
  color: #3250c4;
}

.product-information .title {
  font-size: 13px;
}

.product-information .category {
  font-size: 11px;
}

.product-information .category:hover {
  color: #4d0ea1;
}
